<main>

    <nav class="mid-grey">
        <div class="container">
            <div class="between">
                <img src="/assets/logo.png" alt="logo" class="logo">
                <div class="center">
                    <a href="/login" class="button login">
                        Login
                    </a>

                </div>
            </div>
        </div>
    </nav>
    <section class="mid-grey" style="padding: 50px">

        <div id="splash">
            <img src="assets/logo.png" class="front" alt="splash logo" style="width: 150px;" />
            <h1 class="title">USND BOT</h1>
            <p class="front">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur natus assumenda eos
                illum,
                expedita,
                vitae
                quisquam quo vel et, officia iure reiciendis corporis. Voluptatibus rerum fuga iure sint optio
                possimus.
            </p>
            <a href="https://discord.gg/FZFve47" class="button tab-grey front shine">
                <img src="assets/discord_logo.png" alt="">
                Join Server
            </a>
        </div>

    </section>
    <section id="waves">
        <img src="assets/cross.svg" class="shape cross floating" />
        <img src="assets/triangle.svg" class="shape triangle floating" />
        <img src="assets/circle.svg" class="shape circle floating" />
    </section>
    <section style="padding: 100px">
        <div class="container">
            <div class="panel-box">
                <div class="panel">
                    <img src="assets/circle.svg" class="panel-icon" />
                    <h2 class="panel-title">circle</h2>
                    <p class="panel-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eos
                        eius, maiores deserunt sed
                        quos
                        quis? Corrupti voluptatem cupiditate nisi ducimus quibusdam, illo excepturi, impedit quod
                        adipisci,
                        aut et explicabo!</p>
                </div>
                <div class="panel">
                    <img src="assets/triangle.svg" class="panel-icon" />
                    <h2 class="panel-title">triangle</h2>
                    <p class="panel-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eos
                        eius, maiores deserunt sed
                        quos
                        quis? Corrupti voluptatem cupiditate nisi ducimus quibusdam, illo excepturi, impedit quod
                        adipisci,
                        aut et explicabo!</p>
                </div>
                <div class="panel">
                    <img src="assets/cross.svg" class="panel-icon" />
                    <h2 class="panel-title">cross</h2>
                    <p class="panel-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eos
                        eius, maiores deserunt sed
                        quos
                        quis? Corrupti voluptatem cupiditate nisi ducimus quibusdam, illo excepturi, impedit quod
                        adipisci,
                        aut et explicabo!</p>
                </div>

            </div>
        </div>
    </section>
    <section id="waves-up">
        <img src="assets/circle.svg" class="shape circle floating" />
        <img src="assets/cross.svg" class="shape cross floating" />
        <img src="assets/triangle.svg" class="shape triangle floating" />
    </section>
    <section class="tab-grey">
        <div class="container">
            <div class="footer">
                <p>USND Copyright 2020©</p>
                <p>Developed By <a href="https://twitter.com/RDPolarity" class="link">RDPolarity</a></p>
            </div>
        </div>
    </section>
</main>